shamefully-hoist=true
legacy-peer-deps=true
prefer-frozen-lockfile=false
# Configurações específicas para evitar problemas com dependências nativas
auto-install-peers=true
node-linker=hoisted
# Desabilita o uso de dependências nativas do rollup
rollup-plugin-typescript2-no-check=true
# Força o uso do node
engine-strict=false
use-node-version=18.18.0 